.error {
  color: red;
}

.login-email-input {
  margin: 20px;
}

.login-password-input {
  margin: 20px;
}

.login-submit-button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 1px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.login-submit-button:hover {
  cursor: pointer;
  color: #DBBD93;
  border-color: #D6973C;
}

.login-back-button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 1px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.login-back-button:hover {
  color: #DBBD93;
  border-color: #D6973C;
}