.login-title {
  margin-bottom: 20vh;
  margin-top: 8vh;
  font-size: 300%;
  text-shadow: 7px 7px #18100C;
  color: #F14938;
}

.login-slogan {
  margin-bottom: 2vh;
  display: block;
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
}

.login-form-section {
  padding: 1px 80px 60px 80px;
  background: #afb7c2;
  margin: 0% 10% 10% 10%;
}