.login-title {
  margin-bottom: 28vh;
  margin-top: 0vh;
  font-size: 300%;
  text-shadow: 5px 5px 15px black;
}

.login-slogan {
  margin-bottom: 2vh;
  display: block;
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
}

.login-form-section {
  padding: 80px;
  background: #afb7c2;
}