.NewUser-title {
  margin-bottom: 16vh;
  margin-top: 8vh;
  font-size: 500%;
  text-shadow: 7px 7px #18100C;
  color: #F14938;
}

.NewUserPage {
  background-color:#AFB7C2;
  padding: 60px 80px 60px 80px;
}

.NewUserBox {
  background: #F5F5F5;
  margin: 0% 10% 10% 10%;
  padding: 10px;
}

.signup-form-title {
  font-family: 'Gentium Book Basic', serif;
}

.signup-title-section {
  background-color: #586F8C;
  line-height: 0px;
  padding: 1px;
}