* {
  box-sizing: border-box;
}

header {
  padding: 2vh;
  height: 18vh;
}

p {
  margin: 0 auto;
}

.form-section {
  display: block;
  text-align: center;
}

.favorite-label {
  display: inline;
}

.favorite-checkbox {
  display: inline;
}

.new_movie_submit_button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 2px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.new_movie_reset_button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 2px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.new_movie_back_button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 2px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.new_movie_submit_button:hover {
  color: #DBBD93;
  border-color: #D6973C;
}

.new_movie_reset_button:hover {
  color: #DBBD93;
  border-color: #D6973C;
}

.new_movie_back_button:hover {
  color: #DBBD93;
  border-color: #D6973C;
}

.new_movie_submit_button:visited {
  text-decoration: none;
}

.new_movie_reset_button:visited {
  text-decoration: none;
}

.new_movie_back_button:visited {
  text-decoration: none;
}

.new_movie_title {
  margin: 0% 0% 5% 0%;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 100%;
  color: #18100C;
}

.new_movie_comments {
  margin: 0% 0% 5% 0%;
  width: 100%;
  color: #18100C;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

.new_movie_rating {
  margin: 0% 0% 5% 0%;
  color: #18100C;
}

.new_movie_title_label {
  display: block;
  margin-bottom: 10px;
  color: #75241B;
  font-size: 120%;
  font-family: 'Gentium Book Basic', serif;
}

.new_movie_comments_label {
  display: block;
  margin-bottom: 10px;
  color: #75241B;
  font-size: 120%;
  font-family: 'Gentium Book Basic', serif;
}

.new_movie_rating_label {
  display: block;
  margin-bottom: 10px;
  color: #75241B;
  font-size: 120%;
  font-family: 'Gentium Book Basic', serif;
}