.Landing_Login_Button {
  padding: 12px;
  margin: 0px 4% 0px 4%;
  text-decoration: none;
  color:#F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  max-width: 340px;
  min-width: 100px;
  font-size: 70%;
}

.Landing_Register_Button {
  padding: 12px;
  margin: 0px 4% 0px 4%;
  text-decoration: none;
  color: #F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  max-width: 340px;
  min-width: 100px;
  font-size: 70%;
}

.Landing_logged-in_Button {
  padding: 12px;
  margin: 0px 4% 0px 4%;
  text-decoration: none;
  color: #F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  max-width: 340px;
  min-width: 100px;
  font-size: 70%;
}

.Landing_Login_Button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.Landing_Register_Button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.Landing_logged-in_Button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.Landing_Login_Button:visited {
  text-decoration: none;
}

.Landing_Register_Button:visited {
  text-decoration: none;
}

.Landing_logged-in_Button:visited {
  text-decoration: none;
}

.landing-title {
  margin-bottom: 8vh;
  margin-top: 8vh;
  font-size: 160%;
  text-shadow: 7px 7px #18100C;
  color: #F14938;
  font-family: 'Alfa Slab One', cursive;
}

.landing-title-section {
  background-color: #586F8C;
  line-height: 0px;
}

.landing-title-text{
  margin-top: 10vh;
}

.landing-slogan {
  margin-bottom: 12vh;
  font-size: 80%;
  text-shadow: 0px 0px 4px #18100C;
  display: block;
  font-family: 'Gentium Book Basic', serif;
  font-weight: bold;
  color: #F14938;
}

.landing-description {
  margin-bottom: 0vh;
  padding-top: 4vh;
  margin-left: 8%;
  margin-right: 8%;
  font-family: 'Gentium Book Basic', serif;
  color: #18100C;
  font-size: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 0px;
  max-height: 400px;
}

.landing-description-section {
  background-color:#AFB7C2;
  padding-bottom: 8vh;
}

.landing-buttons-section {
  background-color:#AFB7C2;
}

.landing-buttons {
  padding: 40px;
}

.landing-photo {
  height: 100px;
}

.c1r1 {
  grid-area: 1 / 1 / 2 / 2;
  font-variant: small-caps;
  font-size: 160%;
}

.c2r1 {
  grid-area: 1 / 2 / 2 / 3;
  font-variant: small-caps;
  font-size: 160%;
}

.c3r1 {
  grid-area: 1 / 3 / 2 / 4;
  font-variant: small-caps;
  font-size: 160%;
}

.c1r2 {
  grid-area: 2 / 1 / 3 / 2;
}

.c2r2 {
  grid-area: 2 / 2 / 3 / 3;
}

.c3r2 {
  grid-area: 2 / 3 / 3 / 4;
}

.demo-info {
  padding: 2% 0% 2% 0%;
  margin: 0% 0% 0% 0%;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 80%;
}

@media only screen and (min-width: 1024px) {
  .Landing_Login_Button {
    padding: 12px;
    margin: 0px 4% 0px 4%;
    text-decoration: none;
    color:#F5F5F5;
    border-radius: 5%;
    background: #004DB3;
    display: inline-block;
    width: 30%;
    max-width: 340px;
  }
  
  .Landing_Register_Button {
    padding: 12px;
    margin: 0px 4% 0px 4%;
    text-decoration: none;
    color: #F5F5F5;
    border-radius: 5%;
    background: #004DB3;
    display: inline-block;
    width: 30%;
    max-width: 340px;
  }
  
  .Landing_logged-in_Button {
    padding: 12px;
    margin: 0px 4% 0px 4%;
    text-decoration: none;
    color: #F5F5F5;
    border-radius: 5%;
    background: #004DB3;
    display: inline-block;
    width: 30%;
    max-width: 340px;
  }
  
  .Landing_Login_Button:hover {
    color: #FFC861;
    background-color: #1E74E5;
  }
  
  .Landing_Register_Button:hover {
    color: #FFC861;
    background-color: #1E74E5;
  }
  
  .Landing_logged-in_Button:hover {
    color: #FFC861;
    background-color: #1E74E5;
  }
  
  .Landing_Login_Button:visited {
    text-decoration: none;
  }
  
  .Landing_Register_Button:visited {
    text-decoration: none;
  }
  
  .Landing_logged-in_Button:visited {
    text-decoration: none;
  }
  
  .landing-title {
    margin-bottom: 8vh;
    margin-top: 8vh;
    font-size: 500%;
    text-shadow: 7px 7px #18100C;
    color: #F14938;
    font-family: 'Alfa Slab One', cursive;
  }
  
  .landing-title-section {
    background-color: #586F8C;
    line-height: 0px;
  }
  
  .landing-title-text{
    margin-top: 12vh;
  }
  
  .landing-slogan {
    margin-bottom: 12vh;
    font-size: 140%;
    text-shadow: 0px 0px 4px #18100C;
    display: block;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
    color: #F14938;
  }
  
  .landing-description {
    margin-bottom: 0vh;
    padding-top: 4vh;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Gentium Book Basic', serif;
    color: #18100C;
    font-size: 110%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 0px;
    max-height: 400px;
  }
  
  .landing-description-section {
    background-color:#AFB7C2;
    padding-bottom: 8vh;
  }
  
  .landing-buttons-section {
    background-color:#AFB7C2;
  }
  
  .landing-buttons {
    padding: 40px;
  }
  
  .landing-photo {
    height: 300px;
  }
  
  .c1r1 {
    grid-area: 1 / 1 / 2 / 2;
    font-variant: small-caps;
    font-size: 160%;
  }
  
  .c2r1 {
    grid-area: 1 / 2 / 2 / 3;
    font-variant: small-caps;
    font-size: 160%;
  }
  
  .c3r1 {
    grid-area: 1 / 3 / 2 / 4;
    font-variant: small-caps;
    font-size: 160%;
  }
  
  .c1r2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  
  .c2r2 {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .c3r2 {
    grid-area: 2 / 3 / 3 / 4;
  }
  
  .demo-info {
    padding: 2% 0% 2% 0%;
    margin: 0% 0% 0% 0%;
    margin-left: 12%;
    margin-right: 12%;
  }
}