.Button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid black;
  border-radius: 5%;
  background: rgb(206, 206, 206);
}

.Landing_Login_Button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid #566F8F;
  border-radius: 5%;
  background: #AFB7C2;
}

.Landing_Register_Button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid #566F8F;
  border-radius: 5%;
  background: #AFB7C2;
}

.Landing_Demo_Button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid #566F8F;
  border-radius: 5%;
  background: #AFB7C2;
}

.landing-title {
  margin-bottom: 12vh;
  margin-top: 10vh;
}

.landing-slogan {
  margin-bottom: 2vh;
  display: block;
}

.landing-description {
  margin-bottom: 24vh;
}

.landing-buttons {
  margin: 100px;
}

.Landing_logged-in_Button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid black;
  border-radius: 5%;
  background: rgb(206, 206, 206);
}