.button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: blue;
  border: 1px solid black;
  border-radius: 5%;
  background: rgb(206, 206, 206);
}

.landing-title {
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.landing-slogan {
  margin-bottom: 2vh;
  display: block;
}

.landing-description {
  margin-bottom: 24vh;
}

.landing-buttons {
  margin: 100px;
}