* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background: #F5F5F5;
}

header {
  padding: 10vh;
  margin-bottom: 5vh;
}

section {
  padding: 30px 15px;
  background-color: #bbb;
  margin: 0 10% 0 10%;
}

p {
  margin: 0 auto;
  max-width: 650px;
}
