* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background: #AFB7C2;
}

header {
  /* padding: 8vh;
  margin-bottom: 4vh; */
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}