nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 0;
  background-color: #566F8F;
  height: 6vh;
}

.nav-login-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 12px 20px 10px 10px;
  text-decoration: none;
  color: #F5F5F5;
  font-variant: small-caps;
}

.nav-login-button:hover {
  color: #DBBD93;
}

.nav-login-button:visited {
  text-decoration: none;
}

.nav-logout-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 12px 20px 10px 10px;
  text-decoration: none;
  color: #F5F5F5;
  font-variant: small-caps;
}

.nav-logout-button:hover {
  color: #DBBD93;
}

.nav-logout-button:visited {
  text-decoration: none;
}

.nav_bar_logo {
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 4px;
  left: 8px;
}

.nav_bar_logo_text {
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 12px;
  left: 12px;
  color:#F5F5F5;
}

.nav_bar_logo_text:hover {
  text-decoration: underline;
}