nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 0;
  background-color: #aaa;
  height: 6vh;
}

h4 {
  margin: 0 0 0 10px;
  padding: 0;
  text-align: left;
  font-size: 95%;
}

.nav-login-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 20px 10px 10px;
}

.nav-logout-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 20px 10px 10px;
}