.homepage_title {
  color: #F14938;
  font-size: 200%;
  padding-top: 60px;
  margin-bottom: 80px;
  text-shadow: 4px 4px #18100C;
}

h3 {
  text-align: center;
  margin: 40px;
  padding: 20px;
}

ul {
  padding: 0px;
  margin-bottom: 100px;
}

.add_new_movie_button {
  padding: 30px;
  margin: 10px;
  text-decoration: none;
  color: #F5F5F5;
  border: 2px solid #1961BF;
  border-radius: 5%;
  background: #566F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.add_new_movie_button:hover {
  cursor: pointer;
  color: #DBBD93;
  border-color: #D6973C;
}

.homepage_all_movie_section {
  background: #AFB7C2;
  border: #4B6373 1px solid;
  box-shadow: 0px 0px 25px #4B6373;
  padding: 80px;
  margin: 0 10% 0 10%;
}

.all_movies_legend_title {
  margin-left: 16px;
  margin-right: 16px;
  font-variant: small-caps;
  margin-top: 0px;
  padding-top: 0px;
  color: #F14938;
}

.all_movies_fieldset {
  border-width:10px;
  padding-bottom: 0px;
  margin-bottom: 90px;
}