.expanded_title {
  color: #F14938;
  font-size: 120%;
  padding-top: 0px;
  margin-bottom: 5%;
  font-variant: small-caps;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}

.platform-logo {
  width: 20%;
}

.expanded_render {
  background: #F5F5F5;
  box-shadow: 0px 0px 25px #586F8C;
  padding: 4%;
  margin: 12% 2% 2% 2%;
}

.expanded_render_section {
  margin-top: 6vh;
  padding: 4vh;
  background-color: #AFB7C2;
}

.expanded_comments {
  padding: 6%;
  color: #18100C;
  font-size: 80%;
}

.expanded_movies_fieldset {
  border-width: 10px;
  padding-bottom: 0px;
  margin-bottom: 5%;
  border-color: #586F8C;
}

.expanded_movie_edit_button {
  padding: 12px;
  margin: 5% 2% 0px 2%;
  text-decoration: none;
  color:#F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.expanded_movie_delete_button {
  padding: 12px;
  margin: 5% 2% 0px 2%;
  text-decoration: none;
  color:#F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.expanded_movie_edit_button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.expanded_movie_delete_button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.expanded_movies_legend_title:visited {
  text-decoration: none;
}

.expanded_movie_edit_button:visited {
  text-decoration: none;
}

.expanded_movie_delete_button:visited {
  text-decoration: none;
}

.expanded_buttons {
  margin-top: 5%;
  margin-bottom: 5%;
}

.expanded_back-arrow1 {
  width: 8%;
  position: absolute;
  left: 12%;
  padding: 5px;
}

.expanded_back-arrow1:hover {
  background: rgba(175, 183, 194, 0.466);
  border-radius: 5%;
}

@media only screen and (min-width: 1024px) {
  .expanded_title {
    font-size: 300%;
  }

  .expanded_render {
    padding: 4% 4% 1% 4%;
    margin: 2%;
  }
  
  .expanded_render_section {
    padding: 2vh 6vh 2vh 6vh;
  }
  
  .expanded_comments {
    padding: 50px;
    color: #18100C;
  }
  
  .expanded_movies_fieldset {
    border-width: 14px;
    padding-bottom: 0px;
    margin-bottom: 5%;
    border-color: #586F8C;
  }
  
  .expanded_movie_edit_button {
    padding: 12px;
    margin: 0px 4% 0px 4%;
    text-decoration: none;
    color: #F5F5F5;
    border-radius: 5%;
    background: #004DB3;
    display: inline-block;
    width: 30%;
    max-width: 340px;
    font-size: 20px;
  }
  
  .expanded_movie_delete_button {
    padding: 12px;
    margin: 0px 4% 0px 4%;
    text-decoration: none;
    color: #F5F5F5;
    border-radius: 5%;
    background: #004DB3;
    display: inline-block;
    width: 30%;
    max-width: 340px;
    font-size: 20px;
  }
  
  .expanded_movie_edit_button:hover {
    color: #FFC861;
    background-color: #1E74E5;
  }
  
  .expanded_movie_delete_button:hover {
    color: #FFC861;
    background-color: #1E74E5;
  }
  
  .expanded_movies_legend_title:visited {
    text-decoration: none;
  }
  
  .expanded_movie_edit_button:visited {
    text-decoration: none;
  }
  
  .expanded_movie_delete_button:visited {
    text-decoration: none;
  }
  
  .expanded_buttons {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .expanded_back-arrow1 {
    width: 5%;
    position: absolute;
    left: 12%;
    padding: 5px;
  }
  
  .expanded_back-arrow1:hover {
    background: rgba(175, 183, 194, 0.466);
    border-radius: 5%;
  }
  
}