.expanded_title {
  color: #F14938;
  font-size: 300%;
  padding-top: 0px;
  margin-bottom: 5%;
  font-variant: small-caps;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 4px;
}

.expanded_render {
  background: #F5F5F5;
  box-shadow: 0px 0px 25px #586F8C;
  padding: 5%;
  margin: 2%;
}

.expanded_render_section {
  padding: 10%;
  background-color: #AFB7C2;
}

.expanded_comments {
  padding: 50px;
  color: #18100C;
}

.expanded_movies_fieldset {
  border-width: 14px;
  padding-bottom: 0px;
  margin-bottom: 5%;
  border-color: #586F8C;
}

.expanded_movie_edit_button {
  padding: 12px;
  margin: 0px 4% 0px 4%;
  text-decoration: none;
  color: #F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  max-width: 340px;
}

.expanded_movie_delete_button {
  padding: 12px;
  margin: 0px 4% 0px 4%;
  text-decoration: none;
  color: #F5F5F5;
  border-radius: 5%;
  background: #004DB3;
  display: inline-block;
  width: 30%;
  max-width: 340px;
}

.expanded_movie_edit_button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.expanded_movie_delete_button:hover {
  color: #FFC861;
  background-color: #1E74E5;
}

.expanded_movies_legend_title:visited {
  text-decoration: none;
}

.expanded_movie_edit_button:visited {
  text-decoration: none;
}

.expanded_movie_delete_button:visited {
  text-decoration: none;
}

.expanded_buttons {
  margin-top: 5%;
  margin-bottom: 5%;
}

.expanded_back-arrow1 {
  width: 6%;
  position: absolute;
  left: 14%;
  padding: 5px;
}

.expanded_back-arrow1:hover {
  background: rgba(175, 183, 194, 0.466);
  border-radius: 5%;
}
